.get-help {
    float: right;
    margin-top: 10px;
    margin-left: 1%;
    padding: 0 1.5% 1.5% 1.5%;
    width: 33%;
    background-color: #eee;
    height: 100%;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
}

.settings-form {
    float: left;
    width:65%;
}

/* Feedback Box */
.feedback-box {
    border: 1px dashed #555;
    background: #fff;
    width: 33%;
    padding: 20px;
    text-align: center;
    margin-top: 15px;
    box-sizing: border-box;
    float: right;
}
.feedback-box .button.button-feedback {
    padding: 10px 40px;
    height: initial;
}

#sab-current-image img {
  max-width: 130px;
  height: auto;
}
.feedback-box h3 {
    font-weight: 700;
}
.feedback-box h3 > img {
  width: 30px;
}
.feedback-box > p {
    max-width: 720px;
    margin: 0 auto;
}